#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#loginPage {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
}

#createUserPage {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
}

.feed{
  height: 100%;
  
}



